body {
	margin: 0px;
}

* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 30px;
}

.sc_d {
	width: 892px;
	height: 550px;
	position: relative;
	float: left;
}

.th_d {
	width: 306px;
	height: 550px;
	float: left;
}

.sc_d_f {
	margin-bottom: 30px;
}

.img_f {
	width: 880px;
	height: 85px;
}

.img_s {
	margin-left: 20px;
	margin-right: 0px;
	width: 290px;
	height: 85px;
}

.sc_d_s {
	width: 430px;
	height: 550px;
	margin-right: 20px;
	float: left;
	overflow: hidden;
}

.t {
	width: 3000px;
	background-color: red;
	padding-left: 0px;
	overflow: hidden;
}

.cir_li {
	height: 258px;
	float: left;
}

.cir_d {
	width: 65px;
	height: 11px;
	color: #909193;
	font-size: 10px;
	padding: 15px 0px;
	text-align: center;
	border: 1px solid #1E2023;
}

.sc_ul {
	margin-top: 0px;
	display: block;
	background-color: black;
	position: relative;
	left: 0px; /*364µÝ¼õ*/
}

.sc_d_s_s {
	position: absolute;
	background-color: #1E2023;
	left: 364px;
}

.d_triangle {
	position: absolute;
	left: 356px;
	height: 258px;
}

.triangle {
	width: 0px;
	height: 0px;
	margin: 15px 0px 35px 0px;
	border-top: 4px solid transparent;
	border-right: 4px solid #E94646;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	display: block;
	position: relative;
	top: 0px; /*43pxµÝÔö*/
}

.add_class {
	background-color: #E94646;
	border-color: #E94646;
	color: #FFFFFF;
}

.sc_d_t,.sc_d_fo {
	width: 428px;
	margin-top: 28px;
}

.sc_d_t {
	height: 132px;
}

.new {
	width: 428px;
	height: 30px;
}

.new_title_l {
	float: left;
	height: 22px;
	line-height: 22px;
}

.new_title_l h2 {
	float: left;
	display: block;
	font-weight: 400;
	border-left: 4px solid red;
	padding-left: 3px;
	font-family: 'Microsoft YaHei';
	font-size: 22px;
	font-family: 'Microsoft YaHei';
}

.title_p {
	color: #999;
	height: 22px;
	float: left;
	font-family: SimSun;
	line-height: 30px;
	margin-left: 10px;
	font-size: 12px;
	overflow: hidden;
}

.new_title_r {
	float: right;
}

.new_title_r .title_m {
	color: #666;
	font-size: 12px;
}

.new_title_r .title_c {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1912px -767px;
	width: 11px;
	height: 12px;
	display: block;
	float: right;
}

.new_m_ul li {
	float: left;
	position: relative;
	margin-top: 10px;
	position: relative;
}

.new_m_ul .new_ul_li {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0px;
	color: #FFFFFF;
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1715px -1370px;
	width: 100%;
	height: 100%;
}

.new_m_ul .new_ul_li .li_p {
	margin-left: 20px;
	font-size: 12px;
	font-family: SimSun;
	font-size: 12px;
}

.new_m_ul .new_ul_li h3 {
	margin-top: 30px;
	margin-left: 20px;
	font-weight: 1000;
}

.sc_d_fo {
	height: 96px;
	position: relative;
}

.sc_d_fo .ad_new {
	position: absolute;
	top: 0;
	left: 0;
}

.sc_d_fo .ad_new h2 {
	width: 24px;
	line-height: 18px;
	text-align: center;
	font-size: 14px;
	color: #e94646;
	border: 1px solid #e94646;
	height: 68px;
	padding: 12px 0;
	font-weight: 400;
}

.ad_ul {
	margin-left: 34px;
}

.ad_title {
	width: 70px;
	float: left;
	position: relative;
}

.ad_title h3 {
	font-size: 12px;
	color: #888;
	font-weight: 400;
}

.ad_p {
	margin-left: 73px;
}

.f_bold {
	font-weight: 700;
}

.ad_p p {
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
	margin-bottom: 11px;
}

.sc_d_fi {
	width: 430px;
	float: left;
}

.content_head {
	width: 100%;
	overflow: hidden;
}

.content_head ul {
	height: 32px;
	border-bottom: 1px solid #E3E3E3;
}

.content_head ul li {
	width: 140px;
	line-height: 30px;
	text-align: center;
	float: left;
	font-size: 16px;
	color: #4C4C4C;
}

.content_head ul li:hover {
	color: #E94646;
}

.li_change {
	color: #000000; font-weight : 700;
	border-bottom: 4px solid #B81616;
	font-weight: 700;
}

.content_p1 .ad_com {
	padding-top: 20px;
}

.content_p1 .ad_com h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: #DE1B1B;
	text-align: center;
}

.content_p1 .ad_com p {
	text-align: center;
	margin: 4px 0 18px 0;
	font-size: 12px;
	color: #666666;
}

.content_p1 .news_p {
	border-top: 1px dashed #666666;
}

.content_p1 .news_p ul li {
	font-size: 14px;
	color: #666666;
	list-style: disc inside;
}

.extra {
	margin-top: 18px;
}

.content_p1 .news_p ul li p {
	color: #333333;
	margin-left: 4px;
	line-height: 30px;
}

.content_p1 .news_p .ex {
	margin-top: 14px;
}

.content_p1 .news_p .ex li p {
	line-height: 27px;
}

.content_p1 .ad_com .out_im {
	width: 430px;
	margin: 12px 0 20px 0;
	overflow: hidden;
}

.content_p1 .ad_com .out_im .img_01 {
	width: 168px;
	height: 133px;
	margin: 4px 15px 0 15px;
	float: left;
}

.content_p1 .ad_com .out_im .img_01 p {
	margin-top: 8px;
	text-align: left;
}

.th_d .al {
	width: 290px;
	float: right;
}

.th_d .al .al_title {
	height: 31px;
	border-bottom: 1px solid #E3E3E3;
}

.th_d .al .al_title h2 {
	font-size: 22px;
	font-weight: 400;
	font-family: 'Microsoft YaHei';
	padding-left: 5px;
	float: left;
	color: #333333;
	line-height: 24px;
	border-left: 4px solid #E94646;
}

.th_d .al .al_title p {
	float: left;
	font-size: 12px;
	color: #C8C8C8;
	line-height: 34px;
	margin-left: 8px;
	font-size: 12px;
}

.th_d .al .game ul {
	margin-top: 20px;
	border-left: 1px solid #C8C8C8;
}

.th_d .al .game ul li {
	margin-top: 8px;
}

.th_d .al .game .inner_ul {
	margin-top: 9px;
	padding-left: 8px;
	border-left: none !important;
}

.th_d .al .game .inner_ul li {
	font-size: 12px;
}

.th_d .al .game .inner_ul li {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1909px -1649px;
	width: 100%;
	height: 12px;
	margin: 4px 0 4px 0;
	padding: 2px 0 2px 20px;
	line-height: 18px;
	padding: 2px 0 2px 20px;
}

.under_bottom {
	float: right;
	margin-top: 15px;
}

.under_bottom ul {
	float: left;
}

.under_bottom .nm {
	width: 4px;
	height: 4px;
	background-color: #E9EAEC;
	border: 1px solid #999999;
	border-radius: 2px;
	float: left;
	margin: 1px 4px;
	transition: width 300ms;
}

.m_d {
	margin-top: 30px;
}

.is_active {
	width: 17px !important;
	height: 4px !important;
	border-left-radius: 2 !important;
	border-right-radius: 2 !important;
	border-color: #E94646 !important;
	background-color: #E94646 !important;
}

.m_i {
	margin-top: 7px;
	display: block;
	float: left;
}

.turn {
	position: relative;
	width: 870px;
	height: 96px;
	 /* 290 */
	overflow: hidden;
}

.navigation {
	width: 60px;
	height: 480px;
	position: fixed;
	top: 22%;
	left: 82%;
}

.navigation ul li {
	width: 58px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 12px;
	color: #8B8D90;
	border: 1px solid #9EA0A3;
	margin-top: -1px;
}

.navigation ul li:hover,.navigation ul .chan {
	color: #FFFFFF;
	background-color: #E94646;
	border-color: #E94646 !important;
}

.navigation ul .ext {
	border-bottom: 1px solid !important;
}

.navigation .nav_bottom {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1860px -1190px;
	width: 60px;
	height: 40px;
	display: none;
}

.out_turn {
	width:290px;
	overflow: hidden;
	float: left;
}