* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
em{
	font-style: normal;
}

.sec .title_l {
	float: left;
	width: 880px;
	height: 39px;
	border-bottom: 1px solid #E3E3E3;
}

.sec .title_l h2 {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1894px -132px;
	font-size: 22px;
	font-weight: 400;
	color: #32363d;
	padding-left: 38px;
	margin-right: 40px;
	font-family: PingFang sc, "Helvetica Neue", Helvetica, Tahoma, Arial,
		"Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN",
		"Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei",
		"WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp",
		sans-serif;
	float: left;
}
.sec .title_l ul{
	float: left;
}
.sec .title_l ul li {
	font-size: 14px;
	line-height: 38px;
	margin-right: 30px;
	color:#666666;
	float: left;
	font-family: PingFang sc, "Helvetica Neue", Helvetica, Tahoma, Arial,
		"Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN",
		"Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei",
		"WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp",
		sans-serif;
}
.sec .title_l ul li:hover{
	color: #E94646;
}

.sec .title_l .r_fl_fr {
	border: 1px solid #bfc7cd;
    font-size: 12px;
    color: #666;
    padding: 3px 6px 3px 7px;
    cursor: pointer;
    margin-top:5px;
    margin-left: 15px;
    position: relative;
	float: right;
}
.sec .title_l .r_fl_fr i{
	background-position:-1906px -614px;
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	width: 14px;
    height: 11px;
    display: block;
    float: left;
    margin-right: 5px;
    transform:rotate(0deg);
    transition: transform 2s;
}

.sec .content {
	width: 880px;
	height: 315px;
	border: 1px solid red;
}

.sec .content ul {
	width: 900px;
	height: 315px;
}

.sec .content ul li .whole {
	width: 160px;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	position: relative;
}

.sec .content ul li {
	width: 160px;
	height: 136px;
	float: left;
	margin: 20px 19px 0 0;
	overflow: hidden;
}

.sec .content ul li .whole img {
	margin-bottom: 2px;
	position: relative;
	z-index: -2;
}

.sec .content ul li .whole .img_t {
	width: 39px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	background-color: #545454;
	color: #FFFFFF;
	position: absolute;
	top: -24px;
	transition: top 500ms;
	left: 120px;
}

.sec .content ul li .whole .img_b {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1760px -796px;
	width: 160px;
	height: 40px;
	top: 90px;
	transition: top 500ms;
	z-index: -1;
	overflow: hidden;
	padding-top: 12px;
	overflow: hidden;
	position: absolute;
}

.sec .content ul li .whole h3 {
	font-size: 12px;
	color: #333333;
	line-height: 23px;
	overflow: hidden;
	font-weight: 400;
	width: auto;
	white-space: nowrap; /* 去除此属性，h3会显示全部，否则超出部分用点代替 */
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	background-color: #FFFFFF;
}

.sec .content ul li .whole .img_b .l {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1896px -857px;
	width: 24px;
	height: 24px;
	float: left;
}

.sec .content ul li .whole .img_b .r {
	width: 30px;
	height: 27px;
	font-size: 12px;
	margin-right: 4px;
	color: #FFFFFF;
	float: right;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
}

.sec .content ul li .whole .view_data {
	width: 160px;
	height: 18px;
	background-color: #FFFFFF;
	padding-top: 3px;
	overflow: hidden;
}

.sec .content ul li .whole .view_data .data_a,.data_p {
	color: #C0C8CD;
}

.sec .content ul li .whole .view_data .data_a {
	font-size: 12px;
	line-height: 18px;
	float: left;
}

.sec .content ul li .whole .view_data .data_p {
	background-image: url("../images/alllittle_coin.png");
	background-repeat: no-repeat;
	background-position: -1906px -897px;
	padding-left: 18px;
	font-size: 12px;
	line-height: 18px;
	float: right;
}