body {
	background-color: #f9f9f9;
}

h1 {
	margin: 32px 0px 2px 4px;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	color: #b6b6b6;
	margin: 0px 0px 10px 4px;
}

label {
	font-size: 13px;
	font-weight: bold;
	margin: 10px 4px 4px 4px;
}

font {
	font-family: Helvetica;
}

a {
	text-decoration: none;
	color: #5b5bff;
}

p {
	font-size: 10px;
	margin: 6px 4px 10px 4px;
}

input {
	width: 440px;
	height: 32px;
	margin: 4px;
	padding-left: 6px;
	font-size: 14px;
	background-color: #efefef;
	border: 1px solid #cdcdcd;
}

.main {
	margin: 0px auto;
	width: 712px;
	overflow: hidden;
}

.sc_d {
	overflow: hidden;
	margin: 16px 0px 10px 4px;
}

.sc_d_d {
	border: 1px solid #cdcdcd;
	width: 340px;
	height: 50px;
	float: left;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	text-align: center;
}

.f_s_s1 {
	border-right: 0;
}

.f_s_s2 {
	color: #b6b6b6;
	background-color: #efefef;
}

.th_d {
	border: 1px solid #cdcdcd;
	float: right;
	width: 180px;
	height: 200px;
	margin: 20px 28px 0px 0px;
}

.th_d_md {
	height: 20px;
	padding: 10px 10px;
	border: 1px solid #cdcdcd;
	border-top: none;
	border-left: none;
	border-right: none;
}

.fm_md {
	width: 480px;
	float: left;
	margin: 20px 0px 0px 0px;
}

.inp_s_s {
	width: 160px;
	color: white;
	background-color: #1fa51f;
}

.quit {
	width: 90px;
	height: 25px;
	border: 1px solid #1fa51f;
	background-color: #1fa51f;
	color: white;
	padding-top: 10px;
	padding-left: 11px;
	margin-top: 100px;
	margin-left: 300px;
	display: none;
}